/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
@import "variables.css";

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background: url("../images/cover-image.png") no-repeat center / cover fixed;
  font-weight: var(--fw-bold);
  color: var(--primary-color);
  line-height: var(--general-line-height);
  font-size: var(--general-font-size);
  padding: 10px;
}

.title-decor {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.fw-normal {
  font-weight: var(--fw-normal);
}

.rec-decor {
  color: var(--accent-color);
  line-height: 25px;
  margin-block-end: 32px;
  position: absolute;
  top: 0;
  right: 0;
}

.rec-decor::after {
  content: '';
  display: inline-block;
  margin-inline: 10px;
  margin-block-end: 1px;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone::before {
  content: '';
  display: block;
  inline-size: var(--decor-size);
  block-size: var(--decor-size);
  justify-self: end;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: '';
  display: block;
  inline-size: var(--decor-size);
  block-size: var(--decor-size);
  align-self: end;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
}

.header__theme-menu {
  color: var(--accent-color);
  justify-self: end;
  margin-block-start: 52px;
}

.header__theme-menu-list {
  display: grid;
  gap: 15px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  background-color: transparent;
  text-transform: lowercase;
  text-align: center;
  cursor: pointer;
  padding: 0 10px 3px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button_active,
.header__theme-menu-button_active:hover {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}


.header__title, .footer__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--title-line-height);
  justify-self: start;
}

.header__description {
  justify-self: start;
  margin-block: 52px;
}

.header__theme-menu-button {
  line-height: 18px;
}

.section {
  margin-block-start: 52px;
}

.section__title {
  color: var(--accent-color);
}

.section__text {
  font-weight: var(--fw-normal);
}

.footer {
  display: grid;
  align-content: space-between;
  padding: 300px 0;
  margin-inline-start: 4px;
}

.footer__title {
  justify-self: center;
}
